/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*COMMON*/
.container-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*width: 100%;*/
    height: 100%;
}
.inner-container-flex-column{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inner-container-flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section-container-flex-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main-section-container{
    margin: 20px 0;
}
.inline-block{
    display: inline-block;
}
ul{
    list-style: none;
}
a img{
    width: 20px;
    vertical-align: middle;
    color: #707377;
}
a{
    text-decoration: none;
    color: #707377;
    font-size: 13px;
}
p{
    color: #707377;
    font-size: 12px;
    padding-top: 10px;
}
h2{
    color: white;
    font-size: 20px;
}
h3{
    color: white;
}
h4{
    color: white;
}


/*WRAPPER-APP*/
.wrapper-app{
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/*MAIN*/
main{
    height: calc( 100% - 100px);
}
main ul{
    padding: 10px 0;
}
main li{
    padding: 5px 0;
    color: #6b6b6b
}

/*Side Nav*/
.side-nav-container{
    float: left;
    width: 180px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.wrapper-side-nav{
    padding: 10px 10px;
    /*width: 100%;*/
    height: 100%;
}
.logo img{
    width: 60%;
}
.playlist{
    height: 100%;
    min-height: 100px;
    overflow: hidden;
    min-height: 55px;
    padding-top: 20px;
}
.new-playlist{
    height: 70px;
}
.scroll-list{
    height: calc( 100% - 70px );
    overflow-y: auto;
}
.plus{
    font-size: 40px;
    vertical-align: middle;
    padding-right: 5px;
}
.download::after{ 
    content: "";
    display: block;
    border: 1px solid #4d4d4d;
    margin: 10px 0;
}
.user-icon-container{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #808080;
    margin-right: 5px;
}
.user-img{
    width: 100%;
    height: 100%;
}
/*Elementi Hover Side Nav*/
nav a:hover{
    color: white;
}
nav a:hover::before{
    content: "";
    border-left: 2px solid #adff2f;
    margin-right: 10px;
}
/*Main Container*/
.main-content-container{
    float: left;
    width: calc( 100% - 180px );
    height: 100%;
    background-color: #141922;
    /*overflow: hidden;
    overflow-y: auto;*/
}
.main-content-wrapper{
    padding: 10px 15px;
}
/*Main Content Superiore*/
/*Upgrade Container*/
.upgrade-container{
    position: fixed;
    z-index: 1;
    height: 70px;
    width: calc( 100% - 180px );
    background-color:rgba(0, 0, 0, 0.3);
}
.upgrade-container-wrapper{
    padding:  15px 5px;
    width: 100%;
    height: 100%;
}
.inner-container-upgrade-flex-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade-button-container{
    border: 1px solid #fefefe;
    padding: 7px 10px;
    margin-right: 15px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}  
.upgrade-button-container h4{
    color: #fefefe;
}
.button-text{
    width: 100%;
}
/*Hover Upgrade Button*/
.upgrade-button-container:hover{
    width: 250px;
    padding: 10px 13px;
}    
/*Main Content Principale*/
.main-content-principale{
    overflow: hidden;
    overflow-y: auto;
    padding-top: 70px;
    height: 100%;
}
/*Main Menu*/
.main-menu-container{
margin-bottom: 5px;
}
.container-main-menu-flex-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.main-menu-list{
    width: 75%;
    margin: 0 auto;
    text-transform: uppercase;
}
.main-menu-list li{
    width: calc( 100% / 6);
    padding-left: 5px;
    text-align: center;
}
.main-menu-list li a{
    font-size: 11px;
}
/*Bordo Hover Main Menu*/
.main-menu-list li a:hover{
    color: white;
}
.main-menu-list li a:hover::after{ 
    content: "";
    border-bottom: 2px solid #90d32c;
    width: 15%;
    margin: 0 auto;
    display: block;   
}
/*Ascoltati Di Recente / Creato Per Te / Artisti Popolari*/
.recently-played-text, .made-for-you-text, .popular-artist-text{
    padding-bottom: 10px;
}
.recently-played-content-box, .made-for-you-content-box, .popular-artist-content-box{
    width: calc( 100% / 6 );
}
.recently-played-img img, .made-for-you-img img, .popular-artist-img img{
    width: 100%;
    padding: 10px 5px;
}
.popular-artist-img img{
    border-radius: 50%;
}
.recently-played-img, .made-for-you-img, .popular-artist-img{
    position: relative;
}
.recently-played-content-box-text, .made-for-you-content-box-text, .popular-artist-content-box-text{
    text-align: center;
    height: 100px;
}
.album-name h4{
    font-size: 15px;
    padding-bottom: 10px;
}
.artist-name a{
    color: #707377;
    font-size: 10px;
}
/*Elementi Hover Ascoltati Di Recente / Creato Per Te / Artisti Popolari*/
.hidden-play{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 70px;
    color: white;
}
.recently-played-img:hover .hidden-play, .made-for-you-img:hover .hidden-play, .popular-artist-img:hover .hidden-play{
    display: inline;
}
.recently-played-img img:hover, .made-for-you-img img:hover, .popular-artist-img img:hover{
    opacity: 0.2;
}


/*FOOTER*/

/*Footer Contaier*/
.footer-container{
    height: 100px;
    background-color: #282828;
}
.wrapper-footer{
    height: 100%;
    padding: 10px 4px;
}
/*Brano Corrente*/
/*Copertina/Nome Brano/Nome Album*/
.current-song-container{
    width: 200px;
}
.img-copertina img{
    width: 40px;
    height: 40px;
}
.info-song{
    width: 150px;
}
.album-name h5{
    color: white;
    font-size: 12px;
}
.song-name a{
    color: #707377;
    font-size: 10px;
}
/*Hover Nome canzone*/
.song-name a:hover{
    border-bottom: 1px solid w;
    color: white;
}
/*Like e Salva*/
.song-save{
    width: 50px;
}
.song-save-buttons{
    font-size: 30px;
}
/*Hover Bottoni*/
.song-save-buttons a:hover{
    color: white;
}
/*Pannello Di Controllo Brano*/
.song-action-pannel ul li a{
    padding: 0 15px;
    font-size: 15px;
    color: #f0f0f0;
}
#play-button{
    font-size: 25px;
}
.song-time{
    font-size: 10px;
    color: #f0f0f0;
    padding: 10px;
}
.song-ctrl-pannel{
    width: 1000px;
    text-align: center;
}
.song-time-bar{
    width: 50%;
    height: 3px;
    background-color: #707377;
    border-radius: 10px;
}
.inner-song-time-bar{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
/*Hover Play Button*/
#play-button:hover{
    font-size: 30px;
}
/*Hover Barra canzone Interna*/
.inner-song-time-bar:hover{
    background-color: #90d32c;
    position: relative;
}
.inner-song-time-bar:hover::after{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -3px;
    right: 0;
}
/*Pannelo Di Controllo Utente*/
.user-ctrl-pannel{
    width: 200px;
}
.user-action-pannel ul li{
    padding-right: 10px;
}
.user-action-pannel ul li a{
    font-size: 10px;
    color: #f0f0f0;
}
.short-song-time-bar{
    width: 100px;
    height: 3px;
    background-color: #707377;
    border-radius: 10px;
}
.inner-short-song-time-bar{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
/*Hover Barra canzone Interna Piccola*/
.inner-short-song-time-bar:hover{
    background-color: #90d32c;
    position: relative;
}
.inner-short-song-time-bar:hover::after{
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -3px;
    right: 0;
}


/*MEDIA QUERIES*/


/*COMMON*/
/*Side Nav*/
@media only screen and (min-width: 426px){
    .hidden-after-xs{
        display: none;
}
}


/*Media Queries XS*/
@media only screen and (max-width: 425px){
/*Main Menu*/    
.main-menu-list{
    width: 100%;
    margin: 0 auto;
}
.main-menu-list li{
    width: calc( 100% / 4);
}    
.main-menu-list li a{
    font-size: 8px;
}
/*Larghezza Main Content / Upgrade Container*/    
.main-content-container{
    width: calc( 100% - 50px );
}
.upgrade-container{
    width: calc( 100% - 50px );
}
/*Side Nav*/    
.hidden-xs{
    display: none;
}
.side-nav-container{
    width: 50px;
    height: 100%;
}
a img{
    width: 100%;
}
.download-arrow{
    position: relative;
    left: 7px;
    bottom: 15px;
}
.download::after{
    display: none;
}
nav a:hover::before{
    display: none;
}
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 2 );
}
/*Creato Per Te / Artisti Popolari*/     
.made-for-you-content-box, .popular-artist-content-box{
    width: calc( 100% / 2 );
}
}

/*Media Queries S*/
@media only screen and (min-width: 426px) and (max-width: 768px){
/*Main Menu*/   
.main-menu-list{
    width: 100%;
    margin: 0 auto;
}
.main-menu-list li{
    width: calc( 100% / 3);
} 
.main-menu-list li a{
    font-size: 8px;
}      
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 2 );
} 
/*Creato Per Te / Artisti Popolari*/     
.made-for-you-content-box, .popular-artist-content-box{
    width: calc( 100% / 2 );
} 
}

/*Media Queries MD*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
/*Main Menu*/   
.main-menu-list{
    width: 100%;
    margin: 0 auto;
}
.main-menu-list li{
    width: calc( 100% / 5);
}    
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 4 );
} 
/*Creato Per Te / Artisti Popolari*/     
.made-for-you-content-box, .popular-artist-content-box{
    width: calc( 100% / 4 );
}
}


/*FIX*/
/*Fix Larghizza Side Nav / Upgrade Container*/
@media only screen and (max-height: 170px){
    .upgrade-container{
        width: 100%
    }
    .side-nav-container{
        width: 0;
    }
}
/*Fix Larghezza elementi Footer*/
@media only screen and (max-width: 590px){
    .user-ctrl-pannel {
        width: calc((100% / 4) *1)
    }
    .current-song-container{
        width: calc((100% / 4) *1)
    }
    .song-ctrl-pannel{
        width: calc((100% / 4) *2)
    }
    .song-action-pannel ul li a{
        padding: 0 10px;
        font-size: 10px;
    }
    #play-button{
        font-size: 15px;
    }
    #play-button:hover{
        font-size: 20px;
    }
    .song-time {
        font-size: 7px;
    }
}
/*Fix Menu Principale*/
@media only screen and (max-width: 376px){
.main-menu-list li a {
    font-size: 6px;
}
}








