/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*COMMON*/
.container-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.inner-container-flex-column{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inner-container-flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-block{
    display: inline-block;
}
ul{
    list-style: none;
}
a img{
    width: 10%;
    vertical-align: middle;
    color: #7b7b7b;
}
a{
    text-decoration: none;
    color: #767676;
    font-size: 13px;
}
h2{
    color: white;
    font-size: 20px;
}
h3{
    color: white;
}
h4{
    color: white;
}


/*WRAPPER-APP*/
.wrapper-app{
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    /*TEST*/
    background-color: burlywood;
}


/*MAIN*/
main{
    height: calc( 100% - 100px);
}
main ul{
    padding: 10px 0;
}
main li{
    padding: 5px 0;
    color: #6b6b6b
}
/*Main Container*/
.main-content-container{
    float: left;
    width: calc( 100% - 250px );
    height: 100%;
    background-color: #141922;
    overflow: hidden;
    overflow-y: auto;
}
.main-content-wrapper{
    padding: 10px 20px;
}
/*Side Nav*/
.side-nav-container{
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.wrapper-side-nav{
    padding: 10px 10px;
    width: 100%;
    height: 100%;
}
.logo img{
    width: 60%;
}
.playlist{
    height: 100%;
    min-height: 100px;
    overflow: hidden;
    min-height: 55px;
    padding-top: 20px;
}
.new-playlist{
    height: 70px;
}
.scroll-list{
    height: calc( 100% - 70px );
    overflow-y: auto;
}
.plus{
    font-size: 40px;
    vertical-align: middle;
    padding-right: 5px;
}
.download::after{
    content: "";
    display: block;
    border: 1px solid #4d4d4d;
    margin: 10px 0;
}
.user-icon-container{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #808080;
    margin-right: 5px;
}
.user-container .user-icon-container,h4{
    display: inline-block;
}
.user-img{
    width: 100%;
    height: 100%;
}
nav a:hover{
    color: white;
}
nav a:hover::before{
    content: "";
    border-left: 2px solid #adff2f;
    margin-right: 10px;
}
/*Main Content*/
/*Upgrade Container*/
.upgrade-container{
    height: 70px;
    background-color: #080b12;
}
.upgrade-container-wrapper{
    padding:  15px 5px;
    width: 100%;
    height: 100%;
}
.upgrade-button-container{
    border: 1px solid #fefefe;
    padding: 7px 10px;
    margin-right: 5px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
}  
.upgrade-button-container h4{
    color: #fefefe;
}
.inner-container-upgrade-flex-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button-text{
    width: 100%;
}
/*Main content principale*/
/*Main Menu*/
.main-menu-container{
margin-bottom: 5px;
}
.container-main-menu-flex-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container-main-menu-flex-row ul li{
    padding-left: 20px;
    display: inline-block;
}
.main-menu a:hover::after{
    content: "";
    border-bottom: 2px solid #90d32c;
    width: 40%;
    margin: 0 auto;
    display: block;   
}
/*Ascoltati Di Recente*/
.recently-played{
    margin: 20px 0;
}
.recently-played-text{
    padding-bottom: 10px;
}
.recently-played-container-flex-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.recently-played-content-box{
    width: calc( 100% / 6 );
}
.recently-played-content-box img{
    width: 100%;
    padding: 10px 5px;
}
.recently-played-content-box-text{
    text-align: center;
    height: 100px;
}
.album-name h4{
    font-size: 15px;
    padding-bottom: 10px;
}
.artist-name{
    color: #54585e;
    font-size: 10px;
}


/*FOOTER*/

/*Footer Contaier*/
.footer-container{
    height: 100px;
    width: 100%;
    background-color: #282828;
}
.wrapper-footer{
    width: 100%;
    height: 100%;
    padding: 10px 4px;
}
/*Brano Corrente*/
/*Copertina/Nome Brano/Nome Album*/
.current-song-container{
    width: 15%;
}
.img-copertina img{
    width: 40px;
    height: 40px;
}
.info-song{
    width: 70%;
}
.album-name h5{
    color: white;
    font-size: 12px;
}
.song-name a{
    color: #6a6a6a;
    font-size: 10px;
}
/*Like e Salva*/
.song-save{
    width: 30%;
    padding-left: 10px;
}
.song-save-buttons{
    font-size: 30px;
}
/*Pannello Di Controllo Brano*/
.song-action-pannel ul li a{
    padding: 0 15px;
    font-size: 15px;
    color: #f0f0f0;
}
#play-button{
    font-size: 25px;
}
.song-time{
    font-size: 10px;
    color: #f0f0f0;
    padding: 10px;
}
.song-ctrl-pannel{
    width: 70%;
    text-align: center;
}
.song-time-bar{
    width: 50%;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 10px;
}
.inner-song-time-bar{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
/*Pannelo Di Controllo Utente*/ /*DA RIVEDERE!*/
.user-ctrl-pannel{
    width: 15%;
}
.user-action-pannel ul li{
    padding-right: 10px;
}
.user-action-pannel ul li a{
    font-size: 10px;
    color: #f0f0f0;
}
.short-song-time-bar{
    width: 100px;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 10px;
}
.inner-short-song-time-bar{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}



/*Media Queries*/
@media only screen and (max-width: 425px){
.main-content-container{
    float: left;
    width: calc( 100% - 50px );
    height: 100%;
}    
.hidden-xs{
    display: none;
}
.side-nav-container{
    width: 50px;
    height: 100%;
}
a img{
    width: 100%;
}
.download-arrow{
    position: relative;
    left: 7px;
    bottom: 15px;
}
.download::after{
    display: none;
}
nav a:hover::before{
    display: none;
}
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 2 );
}
}

@media only screen and (min-width: 426px){
.hidden-after-xs{
    display: none;
}

}

@media only screen and (min-width: 426px) and (max-width: 768px){
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 2 );
}       
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
/*Ascoltati Di recente*/
.recently-played-content-box{
    width: calc( 100% / 4 );
} 
}







